@model MiniPinterest.Web.Models.ViewModels.EditBoardRequest
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Edit</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null)
    {
        <form method="post">
            <div class="mb-3">
            <label class="form-label">Id</label>
            <input type="text" id="id" class="form-control" asp-for="Id" readonly/>
        </div>

        <div>
            <label class="form label">Name</label>
            <input type="text" class="form-control" id="name" asp-for="Name"/>
        </div>

        <div class="mb-3">
            <label class="form label">Description</label>
            <input type="text" class="form-control" id="description" asp-for="Description"/>
        </div>

        <div class="mb-3">
            <label for="public-checkbox">Public</label>
            <input type="checkbox" id="public-checkbox" value="true" asp-for="IsPublic">
        </div>

        <div class="mb-3">
            <div class="d-flex">
                <button type="submit" class="btn btn-dark">Update</button>
                <button class="btn btn-danger ms-2" type="submit" 
                    asp-area="" 
                    asp-controller="Boards"
                    asp-action="Delete">
                    Delete
                </button>
            </div> 
        </div>
        </form>
    }
    else
    {
        <p>Board not found.</p>
    }
</div>