@using MiniPinterest.Web.Models.Domain;
@model MiniPinterest.Web.Models.Domain.Board

@{
    List<List<Pin>>? cols = null;
    @if (Model != null && Model.Pins.Any())
    {
        cols = new();

        for (int i = 0; i < 5; i++)
        {
            var col = Model.Pins.Where((x, j) => j % 5 == i).ToList();
            cols.Add(col);
        }
    }

    ViewData["Title"] = Model.Name;
}

<!DOCTYPE html>
<html>
    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h1>@Model.Name</h1>
        </div>
    </div>
    <div class="table-with-margin">
        @if (cols != null)
        {
            @foreach (var col in cols)
            {
                <div class="column">
                    @foreach (Pin pin in col)
                    {
                        <a asp-area=""
                        asp-controller="PinDetails"
                        asp-action="Index"
                        asp-route-urlHandle="@pin.Id">
                            <img src="@pin.ImageUrl" alt="@pin.Title" />
                        </a>
                    }
                </div>
            }
        }
        else
        {
            <p>
                No pins added yet!
            </p>
        }
    </div>
</html>

<style>
    .table-with-margin {
        margin: 30px;
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }

    .column {
        flex: 20%;
        max-width: 20%;
        padding: 0 4px;
    }

        .column img {
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
            border-radius: 15px;
        }
</style>

