@using MiniPinterest.Web.Models.Domain;
@model List<MiniPinterest.Web.Models.Domain.Pin>
@{
    List<List<Pin>> ?cols = null;
    @if (Model != null && Model.Any())
    {
        cols = new();

        for (int i = 0; i < 5; i++)
        {
            var col = Model.Where((x, j) => j % 5 == i).ToList();
            cols.Add(col);
        }
    }

    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-2 py-3">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Mini Pinterest
            </h1>
            <p class="lead">
                Share your inspirations with others!
            </p>
        </div>
    </div>
</div>

<div class="table-with-margin">
    @if (cols != null)
    {
        @foreach (var col in cols)
        {
            <div class="column">
                @foreach (Pin pin in col)
                {
                        <a asp-area=""
                        asp-controller="PinDetails"
                        asp-action="Index"
                        asp-route-urlHandle="@pin.Id">
                            <img src="@pin.ImageUrl" alt="@pin.Title"/>
                        </a>
                }
            </div>
        }
    }
    else
    {
        <p>
            No pins created yet!
        </p>
    }
</div>

<style>
    .table-with-margin {
      margin: 30px;
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
    }

    .column {
      flex: 20%;
      max-width: 20%;
      padding: 0 4px;
    }

    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
      border-radius: 15px;
    }
</style>

